<!DOCTYPE html>
<html>
<head>
  <title>
   <% if content_for?(:title) %>
     <%= yield(:title) %>
   <% else %>
     API
   <% end %>
  </title>

<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<% if user_signed_in? %>
<script type="text/javascript">

if(window.self === window.top){
    
    window.close();
} else {

 var remote = new easyXDM.Rpc({local: "/name.html",
	onReady: function(){
                    remote.storeAuth({ username: '<%= current_user %>', authToken: '<%= current_user.authentication_token %>' });
                }
	},
       {
        remote: {
           storeAuth: {}
        },
        local: {
           giveAuth: function(){
              return { username: '<%= current_user %>', authToken: '<%= current_user.authentication_token %>' };
           }
        }
    });
}
</script>

<% end %>
</head>
<body>
<% flash.each do |key, value| %>
          <div class='flash' id='<%= key %>'>
            <%= value %>
          </div>
<% end %>

<nav>
<% if user_signed_in? %>

	<%= admins_only do %>
		<%= link_to "Admin", admin_root_path %><br>
	<% end %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br>
<% else %>
	<%= link_to "Sign up", new_user_registration_path %>
	<%= link_to "Sign in", new_user_session_path %>
	<br>
	Or use <%= link_to "Twitter", user_omniauth_authorize_path(:twitter),
				      :id => "sign_in_with_twitter" %>
		<%= link_to "facebook",  user_omniauth_authorize_path(:facebook),	
					:id => "sign_in_with_facebook" %>
		<%= link_to "Google", user_omniauth_authorize_path(:google_oauth2),
					:id => "sign_in_with_google"  %>
<% end %>
</nav>
<%= yield %>

</body>
</html>
